<html>
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About-Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac felis nec nisi luctus tempor. Proin ultrices eros nec sapien ultricies, a malesuada leo dignissim. Duis nec urna tincidunt, vulputate sapien non, eleifend elit. Vivamus dapibus ante ac nulla congue, vitae vestibulum ex placerat. Maecenas tincidunt diam non neque faucibus, a tempor sapien tincidunt. Cras vehicula vel nunc nec eleifend. Sed eget lectus magna. Vivamus in justo neque. Curabitur rhoncus, ante non varius cursus, neque justo consequat risus, vel bibendum lacus felis sit amet risus. Integer mattis ligula id nunc dictum hendrerit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac felis nec nisi luctus tempor. Proin ultrices eros nec sapien ultricies, a malesuada leo dignissim. Duis nec urna tincidunt, vulputate sapien non, eleifend elit. Vivamus dapibus ante ac nulla congue, vitae vestibulum ex placerat. Maecenas tincidunt diam non neque faucibus, a tempor sapien tincidunt. Cras vehicula vel nunc nec eleifend. Sed eget lectus magna. Vivamus in justo neque. Curabitur rhoncus, ante non varius cursus, neque justo consequat risus, vel bibendum lacus felis sit amet risus. Integer mattis ligula id nunc dictum hendrerit.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>